body {
    background-image: url(../img/index_bg-compressor.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container_nav {
    background-color: black;
    opacity: 0.8;
}
footer{
    width: 100%;
   margin: auto;
    display: inline;
}
#contact{

}
p{
display: inline}
